/* Tab content transition */
.tab-content-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .tab-content-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  
  .tab-content-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .tab-content-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 300ms, transform 300ms;
  }
  